.wrapper {
  width:1060px;
}

header {
  width:200px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

header img {
  max-width:75%;
}

section {
  width:840px;
  float:right;
  padding-bottom:50px;
}

section .pub-item {
  display: block;
  float: left;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

section .pub-item .pub-img {
  float: left;
  display: block;
  position: relative;
  min-height: 1px;
  width: 30%;
  text-align: center;
}

section .pub-item .pub-img img {
  max-width:95%;
  min-height: 120px;
  box-shadow:0 0 2px #000;
}

section .pub-item .pub-title {
  float: right;
  display: block;
  position: relative;
  min-height: 1px;
  width: 70%;
}
