body {
  font: 15px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color:#595959;
  font-weight:400;
}

a {
  color:#39c;
  text-decoration:none;
}

a:hover {
  color:#069;
}

.wrapper {
  width:1160px;
  margin:0 auto;
  padding-top:20px;
}

header {
  width:200px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

header img {
  max-width:75%;
}

section {
  width:940px;
  float:right;
  padding-bottom:50px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

section .pub-item {
  display: block;
  float: left;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

section .pub-item .pub-img {
  float: left;
  display: block;
  position: relative;
  min-height: 1px;
  width: 30%;
  text-align: center;
}

section .pub-item .pub-img img {
  max-width:95%;
  min-height: 120px;
  box-shadow:0 0 2px #000;
}

section .pub-item .pub-title {
  float: right;
  display: block;
  position: relative;
  min-height: 1px;
  width: 70%;
}
